<footer class="mobile">
	<!-- start mobile footer -->
	<div id="footer-wrap">
		<a href="#"><div class="backtotop">
			<div>Retour en haut de page<img src="img/arrow-left.png"></div>
		</div></a>
	</div>
	<!-- end mobile footer -->
</footer>
<footer class="desktop" data-ga-category="FR-My KA Qualifier Footer Links">
	<!-- start desktop footer-->
	<!-- Maytag Footer -->
	<div id="footer-wrap">
	    <div id="footer-nav">
	    <ul data-ga-action="Clicked Footer Majors Nav">
				<li class="header"><a href="http://kitchenaid.ca/fr_CA/gros-electromenagers/" data-ga-label="@clicked-text">GROS ÉLECTROMÉNAGERS</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/magasiner/gros-electromenagers-1/tables-de-cuisson-3/102310008/" data-ga-label="@clicked-text">Tables de cuisson</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/magasiner/gros-electromenagers-1/lave-vaisselle-3/102310014/" data-ga-label="@clicked-text">Lave-vaisselle</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/magasiner/gros-electromenagers-1/broyeurs-et-compacteurs-3/102310299/" data-ga-label="@clicked-text">Broyeurs et compacteurs</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/magasiner/gros-electromenagers-1/hottes-et-ventilation-3/102310029/" data-ga-label="@clicked-text">Hottes et ventilation</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/magasiner/gros-electromenagers-1/fours-a-micro-ondes-3/102310037/" data-ga-label="@clicked-text">Fours à micro-ondes</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/magasiner/gros-electromenagers-1/cuisinieres-3/102310042/" data-ga-label="@clicked-text">Cuisinières</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/magasiner/gros-electromenagers-1/refrigerateurs-3/102310048/" data-ga-label="@clicked-text">Réfrigérateurs</a></li>

<li><a href="http://kitchenaid.ca/fr_CA/shop/major-appliances-1/refrigerators-2/undercounter-refrigerators-3/102310356/" data-ga-label="@clicked-text">Réfrigérateur sous comptoir</a></li>


				<li><a href="http://kitchenaid.ca/fr_CA/magasiner/gros-electromenagers-1/fours-encastres-3/102310003/" data-ga-label="@clicked-text">Fours encastrés</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/magasiner/gros-electromenagers-1/tiroirs-rechauds-3/102310057/" data-ga-label="@clicked-text">Tiroirs-réchauds</a></li>
				<!--li class="shop-footer"><a href="http://kitchenaid.ca/fr_CA/shop/">Tiroirs-réchauds</a></li-->
			</ul>
			<ul data-ga-action="Clicked Footer Portables Nav">
				<li class="header"><a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/" data-ga-label="@clicked-text">APPAREILS DE COMPTOIR</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/pro-line/" data-ga-label="@clicked-text">Série Pro Line</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/melangeurs/" data-ga-label="@clicked-text">Mélangeurs</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/cafetieres/" data-ga-label="@clicked-text">Cafetières</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/equipement-commercial/" data-ga-label="@clicked-text">Équipement commercial</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/fours-de-comptoir/" data-ga-label="@clicked-text">Fours de comptoir</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/countertop-appliances/kettles/" data-ga-label="@clicked-text">Bouilloires électriques</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/robots-culinaires/" data-ga-label="@clicked-text">Robots culinaires</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/melangeurs-a-main/" data-ga-label="@clicked-text">Mélangeurs à main </a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/batteurs-a-main/" data-ga-label="@clicked-text">Batteurs à main</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/mijoteuses/" data-ga-label="@clicked-text">Mijoteuses</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/accessoires-pour-batteur-sur-socle/" data-ga-label="@clicked-text">Accessoires pour batteur sur socle</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/batteurs-sur-socle/" data-ga-label="@clicked-text">Batteurs sur socle</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/grille-pain/" data-ga-label="@clicked-text">Grille-pain</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/gaufriers/" data-ga-label="@clicked-text">Gaufriers</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/shop/-%5B4KSS1121ER%5D-2104367/4KSS1121ER/" data-ga-label="@clicked-text">Machine à boissons pétillantes</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/shop/countertop-appliances-1/juicers-3/102310341/" data-ga-label="@clicked-text">Extracteur de jus</a></li>
			</ul>
			<ul data-ga-action="Clicked Footer Kitchenware Nav">
				<li class="header"><a href="http://kitchenaid.ca/fr_CA/accessoires-de-cuisson/" data-ga-label="@clicked-text">Accessoires de cuisson</a></li>
				 <li><a href="http://kitchenaid.ca/fr_CA/magasiner/ustensiles-de-cuisine-1/accessoires-de-cuisson-3/102310174/" data-ga-label="@clicked-text">Accessoires de cuisson</a></li>
				 <li><a href="http://kitchenaid.ca/fr_CA/magasiner/ustensiles-de-cuisine-1/ustensiles-de-cuisine-3/102310335/" data-ga-label="@clicked-text">Batteries de cuisine</a></li>
				 <li><a href="http://kitchenaid.ca/fr_CA/magasiner/ustensiles-de-cuisine-1/bouilloires-3/102310218/" data-ga-label="@clicked-text">Bouilloires</a></li>
			</ul>
			<ul data-ga-action="Clicked Footer Service & Support Nav">
				<li class="header"><a href="http://kitchenaid.ca/fr_CA/customer-service/" data-ga-label="@clicked-text">SERVICE ET SOUTIEN TECHNIQUE</a></li>
				<!--li><a href="http://kitchenaid.ca/fr_CA/service-et-soutien-technique/faqs/" data-ga-label="@clicked-text">FAQs</a></li-->
				<li><a href="http://kitchenaid.ca/fr_CA/service-et-soutien-technique/manuels/" data-ga-label="@clicked-text">Manuels et documentation</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/service-et-soutien-technique/mes-electromenagers/" data-ga-label="@clicked-text">Mes électroménagers</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/service-et-soutien-technique/enregistrement-dun-produit/" data-ga-label="@clicked-text">Enregistrement d’un produit</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/service-et-soutien-technique/pieces-de-rechange/" data-ga-label="@clicked-text">Pièces de rechange</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/service-et-soutien-technique/service-et-reparation/" data-ga-label="@clicked-text">Service et réparation</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/2_2_91/global_certified-care.content.html">Programme d’entretien prolongé</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/contactez-nous/" data-ga-label="@clicked-text">Contactez-nous</a></li>
			</ul>
			<ul data-ga-action="Clicked Footer Culinary Inspiration Nav">
				<li class="header"><a href="http://kitchenaid.ca/fr_CA/culinary-inspiration/" data-ga-label="@clicked-text">INSPIRATIONS CULINAIRES</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/inspirations-culinaires/cuisines-modeles/" data-ga-label="@clicked-text">Cuisines modèles</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/inspirations-culinaires/partenaires-et-evenements/" data-ga-label="@clicked-text">Partenaires et événements</a></li>
			</ul>
			<ul data-ga-action="Clicked Footer Additional Resources Nav">
				<li class="header">RESSOURCES ADDITIONNELLES</li>
				<li><a href="http://kitchenaid.ca/fr_CA/2_2_101/lentreprise/" data-ga-label="@clicked-text">L'entreprise</a></li>
				<li><a href="http://www.whirlpoolcareers.com/" data-ga-label="@clicked-text" target="_blank">Carrières</a></li>
				<!--li><a href="http://kitchenaid.ca/fr_CA/shop/cart/" data-ga-label="@clicked-text">Cart</a></li-->
				<!--li><a href="http://kitchenaid.ca/fr_CA/contact-us/" data-ga-label="@clicked-text">Contact Us</a></li-->
				<!--li><a href="http://kitchenaid.ca/fr_CA/experience-retail-center/" data-ga-label="@clicked-text">Experience Retail Center</a></li-->
				<!--li><a href="http://kitchenaid.ca/fr_CA/webapp/wcs/stores/servlet/LogonForm?catalogId=10552&myAcctMain=1&langId=-1&storeId=10202">My Account</a></li-->
				<li><a href="http://kitchenaid.ca/fr_CA/salle-de-presse/" data-ga-label="@clicked-text">Salle de presse</a></li>
				<li><a href="http://www.whirlpoolcorp.com/shared/content/privacy/canada_privacy_statement_french.pdf">Politique de confidentialité</a></li>
				<!--li><a href="http://kitchenaid.ca/fr_CA/sign-up-for-email/" data-ga-label="@clicked-text">Sign Up for Email</a></li-->
				<li><a href="http://kitchenaid.ca/fr_CA/carte-du-site/" data-ga-label="@clicked-text">Carte du site </a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/conditions-dutilisation/" data-ga-label="@clicked-text">Conditions d'utilisation</a></li>
				<li class="split"><span>Canada</span>|<span><a href="http://international.kitchenaid.com/" data-ga-label="Canada | Autres pays">Autres pays</a></span></li>
			</ul>		
	</div>

</footer>