<footer class="maytag-mobile">
	<!-- start mobile footer -->
	<ul class="footer-links">
                <li><a data-toggle="modal" href="" onclick="setMobileDeviceCookie('0');location.reload();" class="desktop-link">Go to Desktop Site</a></li>
				<li id="languageSwitch"><div class="languageContent"><a href="javascript:void(0);" onclick="javascript:prepareSubmitLanguageChange('-301@fr_CA', document.SelectLanguageForm,'10229|-301');" id="languageTxtLink">Français</a></div><div id="language" style="display:none;position:absolute;top:0;right:0;z-index:-1;"><div id="langdd"><ul id="ddown"><ol><form name="SelectLanguageForm" action="
	    http://www.maytag.ca/webapp/wcs/stores/servlet/WHRStoreRedirect?catalogId=10579&amp;reloadURL=http%3A%2F%2Fwww.maytag.ca%2Fwebapp%2Fwcs%2Fstores%2Fservlet%2FTopCategoriesDisplay%3FcatalogId%3D10579%26storeId%3D10229&amp;from=pageReload
	" method="post" id="SelectLanguageForm"><input type="text" name="langId" id="selLangId" class="ddowm_1" value="-300@en_CA"><input type="hidden" name="pageView" id="pageView" value=""><input type="hidden" name="beginIndex" id="beginIndex" value=""></form></ol></ul></div></div></li>
                 <li><a href="/en_CA/2_3_30/glossary_glossary.content.html">Glossary</a></li>
                <!--<li><a href="/en_CA/2_3_1/jump-page_extended-service-plans.content.html">Warranty Information</a></li>-->
                <li><a href="/en_CA/2_2_40/support_about-maytag.content.html">About Maytag</a> | <a href="/en_CA/2_3_50/jump-page_Press-and-Media.content.html">Press &amp; News</a> | <a data-toggle="modal" href="http://www.whirlpoolcanada.com/en/Home/default.html">Whirlpool Corporation</a></li>
                <li><a href="/en_CA/2_2_42/support_about-maytag-brand-terms.content.html">Terms &amp; Conditions</a> | <a href="http://www.whirlpoolcorp.com/privacy-canada/">Privacy</a></li>
					
                <li class="legal">®/<sup>TM</sup> ©<script type="text/javascript">var d = new Date();document.write(d.getFullYear());</script>2015 Maytag. All Rights Reserved.</li>
            </ul>
	<!-- end mobile footer -->
</footer>
<footer class="maytag-desktop">
	<!-- start desktop footer-->
	<!-- Maytag Footer -->
	<div id="footer-wrap" class="" style="clear:both">
	    <div id="footer">
	        <div id="footer-menu">
	            <ul class="first">
	                <li class="header"><a href="http://www.maytag.ca/en_CA/Laundry-1/102290048/">Laundry</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/Laundry-1/Laundry_Laundry_Appliances_Washers-3/102290050+4294967052/">High-Efficiency<br>Front-Load Washers</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/Laundry-1/Laundry_Laundry_Appliances_Washers-3/102290050+4294966796/">High-Efficiency<br>Top-Load Washers</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/Laundry-1/Laundry_Laundry_Appliances_Dryers-3/102290054+4294966978/">High-Efficiency Dryers</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/Laundry-1/Laundry_Laundry_Appliances_Washers-3/102290050+4294966788/">Traditional Top-Load Washers</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/Laundry-1/Laundry_Laundry_Appliances_Dryers-3/102290054+4294966977/">Traditional Dryers</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/Laundry-1/Laundry_Laundry_Appliances_Laundry_Pairs-3/102290058/">Laundry Pairs</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/Laundry-1/Laundry_Laundry_Appliances_Dryers-3/102290054+4294966545/">Washer-Dryer Combo</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/Laundry-1/Laundry_Laundry_Appliances_Laundry_Pedestals-3/102290063/">Laundry Pedestals</a></li>
	            </ul>
	            <ul>
	                <li class="header"><a href="http://www.maytag.ca/en_CA/Kitchen-1/Kitchen_Refrigeration-2/102290030/">Refrigerators</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators_French_Door-3/102290031+4294966906/">French-Door</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators_SidebySide-3/102290031+4294967038/">Side-by-Side</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators_Bottom_Freezer-3/102290031+4294967048/">Bottom-Freezer</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators_Top_Freezer-3/102290031+4294967059/">Top-Freezer</a></li>
	                <!-- <li><a href="http://www.maytag.ca/en_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators_Speciality_Refrigerators-3/102290031+4294965859/">Undercounter & Ice Makers</a></li> -->
	            </ul>
	            <ul>
	                <li class="header"><a href="http://www.maytag.ca/en_CA/Kitchen-1/Kitchen_Cooking-2/102290011/">Cooking</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/Kitchen-1/Kitchen_Cooking_Ranges-3/102290012/">Ranges</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/Kitchen-1/Kitchen_Cooking_Wall_Ovens-3/102290015/">Wall Ovens</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/Kitchen-1/Kitchen_Cooking_Cooktops-3/102290019/">Cooktops</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/Kitchen-1/Kitchen_Cooking_Hoods-3/102290022/">Hoods</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/Kitchen-1/Kitchen_Cooking_Microwaves-3/102290026/">Microwaves</a></li>
	            </ul>
	            <ul>
	                <li class="header"><a href="http://www.maytag.ca/en_CA/Kitchen-1/Kitchen_Dishwashers_and_Kitchen_Cleaning-2/102290002/">Disposers</a></li>
	            </ul>
	            <ul>
	                <li class="header no_link">Filters &amp; Accessories</li>
	                <li><a href="http://www.maytag.ca/en_CA/Accessories-1/Accessories_Laundry-2/102290118/">Service &amp; Support</a></li>
	                <li><a onclick="dcsMultiTrack('DCS.dcsuri','on_release_Owner_Center_Home_manuals_literature','WT.ti','on_release_Owner_Center_My_Appliances');" href="http://www.maytag.ca/en_CA/my_appliances">My Appliances</a></li>
	                <li><a href="http://www.maytag.ca/webapp/wcs/stores/servlet/OCProductRegistrationView?catalogId=10579&amp;langId=-300&amp;storeId=10229">Product Registration</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/schedule_repair">Service &amp; Repair</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/manuals">Manuals &amp; Literature</a></li>
	                <!-- <li><a href="http://www.maytag.ca/en_CA/product_help">Product Help</a></li> -->
	                <!--<li><a href="http://www.maytag.ca/en_CA/jump-page_extended-service-plans.content.html">Extended Service Plan</a></li>-->
	                <li><a href="https://repair.maytag.com/prjjck10/default.jsp?siteCd=RCU_EN_CA&amp;id=R173BV" target="_blank">Recall Information</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/2_3_24/jump-page_replacement-parts.content.html">Replacement Parts</a></li>
	            </ul>
	            <ul>
	                <li class="header no_link">Shopping Help</li>
	                <li><a href="http://www.maytag.ca/en_CA/4_1_30/glossary_glossary.content.html">Glossary</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/2_3_713/jump-page_may-is-maytag.content.html">Promotions</a></li>
	                <!-- <li class="header no_link">Additional Products</li>
					
					
					<li><a href="http://www.maytag.ca/en_CA/jump-page_commercial-laundry.content.html">Commercial<br/>Laundry Products</a></li> -->
	            </ul>
	            <ul class="last">
	                <li class="header"><a href="http://www.maytag.ca/en_CA/2_2_40/support_about-maytag.content.html">About Maytag</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/contact-us/">Contact Us</a></li>
	                <li><a href="http://www.maytag.ca/en_CA/2_3_50/jump-page_Press-and-Media.content.html">Press &amp; Media</a></li>
	                <li><a href="http://www.whirlpoolcanada.com " target="blank">Whirlpool Corporation</a></li>
	            </ul>
	        </div>
	        <div id="footer-legal">
	            <div id="footer-trademark">
	                <!-- MSRP is Manufacturer&#39;s Suggested Retail Price and may not necessarily be the price at which the product is sold in the consumer&#39;s area.<br>Dealer alone determines actual price. <br /><br /> -->®/TM ©
	                <script type="text/javascript">
	                    var date = new Date();
	                    document.write(date.getFullYear());
	                </script>2015 Maytag. All rights reserved.</div>
	            <div id="footer-legal-links"><a href="http://www.maytag.ca/webapp/wcs/stores/servlet/WHRPopUpContentDisplayView?catalogId=10562&amp;langId=-300&amp;cid=2_2_42&amp;KeepThis=true&amp;TB_iframe=true&amp;height=625&amp;width=500&amp;modal=false" class="thickbox">Terms &amp; Conditions</a> <span>|</span> <a href="http://www.whirlpoolcorp.com/privacy/canada.aspx" class="last">Privacy Policy</a></div>
	        </div>
	    </div>
	</div>

</footer>