<!--mobile start-->
	<header class="header-mobile">
		<a href="http://www.maytag.ca/en_CA/"><img src="http://www.maytag.ca/wcs/images/img_logo.png" alt="Logo"></a>
		<ul class="navbar-btn-wrapper">
			<li data-type="menu">
				<div class="img-wrapper"></div>
				<div class="text-wrapper">MENU</div>
			</li>
			<li class="no-toggle" data-type="stores">
				<a href="http://www.maytag.ca/en_CA/where-to-buy"><div class="img-wrapper"></div></a>
				<a href="http://www.maytag.ca/en_CA/where-to-buy"><div class="text-wrapper">STORES</div></a>
			</li>
			<li data-type="search">
				<div class="img-wrapper"></div>
				<div class="text-wrapper">SEARCH</div>
			</li>
		</ul>
		<div class="navbar-search-pullout navbar-pullout navbar-pullout-hide" data-type="search">
			<div>
				<input type="text" name="searchTerm" placeholder="Search" title="search">
				<div class="search-btn"></div>
			</div>
		</div>
		<div class="navbar-menu-pullout navbar-pullout navbar-pullout-hide" data-type="menu">
			<ul class="navbar-menu-wrapper">
				<li>
					<div class="navbar-menu-title">Laundry</div>
					<div class="navbar-menu-submenu navbar-pullout-hide">
						<a href="">Learn More About Laundry</a>
						<a href="">Washers</a>
						<a href="">Dryers</a>
						<a href="">Laundry Pairs</a>
						<a href="">Washer & Dryer Combos</a>
						<a href="">Laundry Pedestals</a>
					</div>
				</li>
				<li>
					<div class="navbar-menu-title">Kitchen</div>
					<div class="navbar-menu-submenu navbar-pullout-hide">
						<a href="">Learn More About Kitchens</a>
						<a href="">Refrigerators</a>
						<a href="">Cooking</a>
						<a href="">Dishwashers & Cleaning</a>
					</div>
				</li>
				<li>
					<div class="navbar-menu-title">Filters & Accessories</div>
					<div class="navbar-menu-submenu navbar-pullout-hide">
						<a href="">See All Filters & Accessories</a>
						<a href="">Laundry Accessories</a>
						<a href="">Kitchen Accessories</a>
						<a href="">Refrigerator Water Filters</a>
					</div>
				</li>
				<li>
					<div class="navbar-menu-title">Service & Support</div>
					<div class="navbar-menu-submenu navbar-pullout-hide">
						<a href="">See All Service & Support</a>
						<a href="">My Appliances</a>
						<a href="">Product Registration</a>
						<a href="">Service & Repair</a>
						<a href="">Manuals & Literature</a>
						<a href="">Extended Service Plans</a>
						<a href="">Recall Information</a>
						<a href="">Replacement Parts</a>
					</div>
				</li>
				<li>
					<a href=""><div class="navbar-menu-title">Sign In</div></a>
				</li>
			</ul>
		</div>
	</header>
	<!--mobile end-->
	<!--desktop start-->
<header class="header-desktop">
<div id="upper-wrap"></div>
<div id="header-wrap">
	<div class="header-content-wrap">
		<div class="upper">
			<ul class="pull-left">
				<li><a href="http://kitchenaid.ca/en_CA/find-a-store">Find a retailer</a></li>
				<li><a href="http://kitchenaid.ca/en_CA/contact-us">Contact us</a></li>
				<li><a href="http://kitchenaid.ca/en_CA/promotions">Special offers</a></li>
			</ul>
			<div class="pull-right">
				<script>
					$('.search-textbox').keypress(function(e) {
						if (e.which == 13 || e.keyCode == 13) {
							e.preventDefault();
							doSearch();
						}
					});

					$('.search-textbox-icon').click(function(e){
						doSearch();
					});

					function doSearch() {
						var val = $('.search-textbox').val();
						if (!val) return;
						window.location = 'http://www.kitchenaid.ca/webapp/wcs/stores/servlet/WHRORNAjaxCatalogSearchView?storeId=10231&catalogId=10581&langId=-300&beginIndex=0&searchTerm=' + val;
					}
				</script>
				<input type="text" name="searchTerm" placeholder="SEARCH" class="search-textbox">
				<img class="search-textbox-icon" src="img/search-icon.jpg"/>
				<p class="language pull-left"><a href="">Français</a></p>
			</div>
			<a class="logo pull-left"><img src="http://www.kitchenaid.ca/wcs/images/img_logo.png"/></a>
		</div>
		<div class="lower">
			<ul class="menu">
				<li><a href="http://kitchenaid.ca/en_CA/major-appliances">Major Appliances</a></li>
				<li><a href="http://kitchenaid.ca/en_CA/countertop-appliances">Countertop Appliances</a></li>
				<li><a href="http://kitchenaid.ca/en_CA/kitchenware">Kitchenware</a></li>
				<li><a href="http://kitchenaid.ca/en_CA/major-appliances">Accessories</a></li>
				<li><a href="http://kitchenaid.ca/en_CA/customer-service">Service & Support</a></li>
				<li><a href="http://kitchenaid.ca/en_CA/culinary-inspiration">Culinary Inspiration</a></li>
			</ul>
		</div>
	</div>
</div>
</header>