<!--mobile start-->
	<header class="header-mobile">
		<a href="http://www.maytag.ca/en_CA/"><img src="http://www.maytag.ca/wcs/images/img_logo.png" alt="Logo"></a>
		<ul class="navbar-btn-wrapper">
			<li data-type="menu">
				<div class="img-wrapper"></div>
				<div class="text-wrapper">MENU</div>
			</li>
			<li class="no-toggle" data-type="stores">
				<a href="http://www.maytag.ca/en_CA/where-to-buy"><div class="img-wrapper"></div></a>
				<a href="http://www.maytag.ca/en_CA/where-to-buy"><div class="text-wrapper">STORES</div></a>
			</li>
			<li data-type="search">
				<div class="img-wrapper"></div>
				<div class="text-wrapper">SEARCH</div>
			</li>
		</ul>
		<div class="navbar-search-pullout navbar-pullout navbar-pullout-hide" data-type="search">
			<div>
				<input type="text" name="searchTerm" placeholder="Search" title="search">
				<div class="search-btn"></div>
			</div>
		</div>
		<div class="navbar-menu-pullout navbar-pullout navbar-pullout-hide" data-type="menu">
			<ul class="navbar-menu-wrapper">
				<li>
					<div class="navbar-menu-title">Laundry</div>
					<div class="navbar-menu-submenu navbar-pullout-hide">
						<a href="">Learn More About Laundry</a>
						<a href="">Washers</a>
						<a href="">Dryers</a>
						<a href="">Laundry Pairs</a>
						<a href="">Washer & Dryer Combos</a>
						<a href="">Laundry Pedestals</a>
					</div>
				</li>
				<li>
					<div class="navbar-menu-title">Kitchen</div>
					<div class="navbar-menu-submenu navbar-pullout-hide">
						<a href="">Learn More About Kitchens</a>
						<a href="">Refrigerators</a>
						<a href="">Cooking</a>
						<a href="">Dishwashers & Cleaning</a>
					</div>
				</li>
				<li>
					<div class="navbar-menu-title">Filters & Accessories</div>
					<div class="navbar-menu-submenu navbar-pullout-hide">
						<a href="">See All Filters & Accessories</a>
						<a href="">Laundry Accessories</a>
						<a href="">Kitchen Accessories</a>
						<a href="">Refrigerator Water Filters</a>
					</div>
				</li>
				<li>
					<div class="navbar-menu-title">Service & Support</div>
					<div class="navbar-menu-submenu navbar-pullout-hide">
						<a href="">See All Service & Support</a>
						<a href="">My Appliances</a>
						<a href="">Product Registration</a>
						<a href="">Service & Repair</a>
						<a href="">Manuals & Literature</a>
						<a href="">Extended Service Plans</a>
						<a href="">Recall Information</a>
						<a href="">Replacement Parts</a>
					</div>
				</li>
				<li>
					<a href=""><div class="navbar-menu-title">Sign In</div></a>
				</li>
			</ul>
		</div>
	</header>
	<!--mobile end-->
	<!--desktop start-->
<header class="header-desktop">
	<!--<nav class="navbar navbar-default">
  <div class="container-fluid">-->
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- div class="navbar-header">
      <a class="navbar-brand" href="#">Maytag</a>
    </div>
  </div>
</nav> -->
	<!-- Maytag header -->
	<div id="header-wrap">

	<input type="hidden" name="storeIdentifier" value="MTG_CA_B2C" id="storeIdentifier">
				
	<div id="header">
		<div id="logo" itemscope="" itemtype="http://schema.org/Brand" class="en">
			
					<img itemprop="logo" src="img/img_logo.png" alt="Maytag">
				
		</div>
		
		<!-- START DYNAMIC CONTENT 1 --><!-- BEGIN WHRORNCatalogSearchForm.jspf-->
<script type="text/javascript">
function clearText(thefield){
	if (thefield.defaultValue==thefield.value) thefield.value = "";
}


</script>


<div id="header_search">

	<form name="CatalogSearchForm" action="/webapp/wcs/stores/servlet/WHRORNAjaxCatalogSearchView" method="get" id="CatalogSearchForm">
		
	  	<input type="hidden" name="storeId" value="10229" id="WC_CachedHeaderDisplay_FormInput_storeId_In_CatalogSearchForm_1">
		<input type="hidden" name="catalogId" value="10579" id="WC_CachedHeaderDisplay_FormInput_catalogId_In_CatalogSearchForm_1">
		<input type="hidden" name="langId" value="-300" id="WC_CachedHeaderDisplay_FormInput_langId_In_CatalogSearchForm_1">
		<input type="hidden" name="beginIndex" value="0" id="WC_CachedHeaderDisplay_FormInput_beginIndex_In_CatalogSearchForm_1">
		
		<input type="text" name="searchTerm" placeholder="search" id="search-text" class="search-textbox ">
		
			<button onclick="fireFloodlight('2625291','mayta650','mtg-l508');" id="search-submit" type="submit">Ok</button>
				
	</form>
	
</div>
<!-- END WHRORNCatalogSearchForm.jspf-->
		
		<div id="header_sub_nav_1"> 
			<ul>
				
			<li class="langListItem"><div class="languageContent"><a href="javascript:void(0);" onclick="javascript:updateViewAndBeginIndexForLanguageChange();prepareSubmit('-301@fr_CA', document.SelectLanguageForm,true,'10229|-301','All of the information you entered will be lost. Do you want to continue?');" id="languageTxtLink" class="">Français</a></div><div id="language" style="display:none;position:absolute;top:0;right:0;z-index:-1;"><div id="langdd"><ul id="ddown"><ol><form name="SelectLanguageForm" action="
http://www.maytag.ca/webapp/wcs/stores/servlet/WHRStoreRedirect?catalogId=10579&amp;reloadURL=http%3A%2F%2Fwww.maytag.ca%2Fwebapp%2Fwcs%2Fstores%2Fservlet%2FTopCategoriesDisplay%3FcatalogId%3D10579%26DM_PersistentCookieCreated%3Dtrue%26storeId%3D10229&amp;from=pageReload
" method="post" id="SelectLanguageForm"><input type="text" name="langId" id="selLangId" class="ddowm_1" value="-300@en_CA"><input type="hidden" name="pageView" id="pageView" value=""><input type="hidden" name="beginIndex" id="beginIndex" value=""></form></ol></ul></div></div></li><li class="first">
				<a class="first" href="https://www.maytag.ca/webapp/wcs/stores/servlet/LogonForm?catalogId=10579&amp;myAcctMain=1&amp;langId=-300&amp;storeId=10229" onclick="fireFloodlight('2625291','mayta650','mtg-l508');">SIGN IN</a>
				OR
				<a href="https://www.maytag.ca/webapp/wcs/stores/servlet/LogonForm?catalogId=10579&amp;myAcctMain=1&amp;langId=-300&amp;storeId=10229" onclick="fireFloodlight('2625291','mayta650','mtg-m646');">CREATE ACCOUNT</a>
			</li>
		<!-- /* R2 WishList functionality starts March 03 2011 */ --><!--  <li class="first"></li> -->
				
				<li><a id="wishListHeaderAnchor" href="https://www.maytag.ca/webapp/wcs/stores/servlet/InterestItemDisplay?catalogId=10579&amp;listId=.&amp;langId=-300&amp;storeId=10229" onmouseover="refreshMiniWishListDropdown();" onclick="">FAVOURITES</a>					
					
					<div id="outerMiniWishListContainer" style="display:block;">
						<div dojotype="dojo.dnd.Target" jsid="miniWishList_dndTarget" id="miniWishList_dndTarget" accept="item, product, package, bundle" class="dojoDndContainer dojoDndTarget">
							<div dojotype="wc.widget.RefreshArea" id="MiniWishList" widgetid="MiniWishList" controllerid="MiniWishListController" title="" role="group" class="dijitContentPane">								
							
							</div>
						</div>
					</div>
					
				</li>
				<!-- <script type="text/javascript">
					document.getElementById('wishListHeaderAnchor').innerHTML = 'FAVOURITES' + " (" + dojo.cookie('userWishListCount') + ")";
				</script>-->
								
				<!-- /* R2 WishList functionality ends March 03 2011 */ -->
				<li class="last">
					
						<div id="outerCartContainer" style="display: block;">
							<div dojotype="dojo.dnd.Target" jsid="miniShopCart_dndTarget" id="miniShopCart_dndTarget" accept="item, product, package, bundle" class="dojoDndContainer dojoDndTarget">
								<div dojotype="wc.widget.RefreshArea" id="MiniShoppingCart" widgetid="MiniShoppingCart" controllerid="MiniShoppingCartController" onmouseover="showMiniShopCartDropDown('placeHolder','quick_cart_container','orderItemsList');" role="wairole:region" waistate:live="polite" waistate:atomic="true" waistate:relevant="all" title="" class="dijitContentPane">
									<!-- Start - JSP File Name: MiniShopCartDisplay.jsp --><!-- GENERATED: [MiniShopCartDisplay, Thu Oct 01 10:16:49 EDT 2015] -->

<!-- If we get here from a generic error this service will fail so we need to catch the exception -->
<a href="http://www.maytag.ca/webapp/wcs/stores/servlet/OrderCalculate?calculationUsageId=-1&amp;updatePrices=1&amp;catalogId=10579&amp;errorViewName=AjaxOrderItemDisplayView&amp;orderId=.&amp;langId=-300&amp;storeId=10229&amp;URL=AjaxOrderItemDisplayView" tabindex="0" id="shoppingCartBar" waistate:controls="ShopCartDisplay" onkeypress="showMiniShopCartDropDown1(event,'placeHolder','quick_cart_container','orderItemsList');" onclick="showMiniShopCartDropDown1(event,'placeHolder','quick_cart_container','orderItemsList');">
		<span id="miniShopCartLeftCorner" class="left_corner">
			CART
		</span>
		<span id="miniShopCartBody" class="body">
			<span class="text">
					 (0)
			</span> 
		</span>
		<span id="miniShopCartRightCorner" class="right_corner"></span>	
</a>

<!-- Mark the position..will show our dialog here -->
<div id="placeHolder"></div>
<!--Added for PCR 175 : Increase in mini cart appearance time -->
<input type="hidden" id="timeOutMiniCartDisplay" value="1000">	

								</div>
							</div>
						</div>
					
				</li>
				
			</ul>
		</div>
	 	
	 	<div id="header_sub_nav_2">
			<ul>
				<li class="first"><a href="/en_CA/2_2_1_1/support_where-to-buy_where-to-buy.content.html" onmousedown="dcsMultiTrack('DCS.dcsuri','on_release_global_MTG_Navigation_where_to_buy','WT.ti','on_release_global_MTG_Navigation_where_to_buy');">Find a Retailer</a></li>
				<li><a onmousedown="dcsMultiTrack('DCS.dcsuri','on_release_global_MTG_Navigation_recalls','WT.ti','on_release_global_MTG_Navigation_recalls');" href="https://repair.maytag.com/prjjck10/default.jsp?siteCd=RCU_EN_CA&amp;id=R173BV" target="new window">Recalls</a></li>
				<li><a onmousedown="dcsMultiTrack('DCS.dcsuri','on_release_global_MTG_Navigation_contact_us','WT.ti','on_release_global_MTG_Navigation_contact_us');" href="/en_CA/contact-us/">Contact Us</a></li>
			</ul>
		</div>
		<noscript>
		&lt;iframe src="http://2625291.fls.doubleclick.net/activityi;src=2625291;type=mayta650;cat=all-r944;ord=1;num=1?" width="1" height="1" frameborder="0" style="display:none"&gt;&lt;/iframe&gt; 
		</noscript> <!--  contentName: header_p1, displayType: standard, store: MTG_CA_B2C, locale: en_CA, status: { [path=systemdefined/header_p1.xml, displayed=true, error=] }-->

		  	  	
			  	  	
					<script type="text/javascript">
						var uas = ""; 
					</script>
					<div id="header_main_nav">
	<ul class="top">
		<li class="first laundry top"><a class="touchFix" href="#">Laundry</a>
				<ul>
					<li class="header singleline"><a href="/en_CA/Laundry-1/102290048/" title="Learn About Laundry" id="topnav-laundry">Laundry</a></li>
					<!-- Start : QC 57 -->
					<li><a href="/en_CA/Laundry-1/Laundry_Laundry_Appliances_Washers-3/102290050+4294967052/" id="he-front-load-washers">High-Efficiency<br>Front-Load Washers</a></li>
					<li><a href="/en_CA/Laundry-1/Laundry_Laundry_Appliances_Washers-3/102290050+4294966796/" id="he-washers">High-Efficiency<br>Top-Load Washers</a></li>
					<li><a href="/en_CA/Laundry-1/Laundry_Laundry_Appliances_Dryers-3/102290054+4294966978/" id="he-dryers">High-Efficiency Dryers</a></li>
					<li><a href="/en_CA/Laundry-1/Laundry_Laundry_Appliances_Washers-3/102290050+4294966788/" id="tr-top-load-washers">Traditional Top-Load Washers</a></li>
					<!-- End : QC 57 -->
					<li><a href="/en_CA/Laundry-1/Laundry_Laundry_Appliances_Dryers-3/102290054+4294966977/" id="tr-dryers">Traditional Dryers</a></li>
	
					<li><a href="/en_CA/Laundry-1/Laundry_Laundry_Appliances_Laundry_Pairs-3/102290058/" id="laundry-pairs">Laundry Pairs</a></li>
					<li><a href="/en_CA/Laundry-1/Laundry_Laundry_Appliances_Dryers-3/102290054+4294966545/" id="washer-dryer-combos">Washer and<br>Dryer Combos</a></li>
					<li><a href="/en_CA/Laundry-1/Laundry_Laundry_Appliances_Laundry_Pedestals-3/102290063/" id="pedestals">Laundry Pedestals</a></li>
				</ul>
		</li>
		<li class="kitchen top"><a class="touchFix" href="#">Kitchen</a>
			<ul>
				<li>
					<ul class="refrigerators">
						<li class="header singleline"><a href="/en_CA/Kitchen-1/Kitchen_Refrigeration-2/102290030/" title="Learn About Refrigerators">Refrigerators</a></li>
						<!-- Start : QC 57 -->
						<li><a href="/en_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators_French_Door-3/102290031+4294966906/">French-Door</a></li>
						<!-- End : QC 57 -->
						<li><a href="/en_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators_SidebySide-3/102290031+4294967038/">Side-by-Side</a></li>

						<li><a href="/en_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators_Bottom_Freezer-3/102290031+4294967048/">Bottom-Freezer</a></li>
						<li><a href="/en_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators_Top_Freezer-3/102290031+4294967059/">Top-Freezer</a></li>
						<!-- Start : QC 57 -->
						<!-- <li><a href="/en_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators_Speciality_Refrigerators-3/102290031+4294965859/ ">Undercounter &amp; <br>Ice Makers</a></li> -->
						<!-- End : QC 57 -->
					</ul>
					<ul class="cooking">
						<li class="header singleline"><a href="/en_CA/Kitchen-1/Kitchen_Cooking-2/102290011/" title="Learn About Cooking">Cooking</a></li>

						<li><a href="/en_CA/Kitchen-1/Kitchen_Cooking_Ranges-3/102290012/">Ranges</a></li>
						<li><a href="/en_CA/Kitchen-1/Kitchen_Cooking_Wall_Ovens-3/102290015/">Wall Ovens</a></li>
						<li><a href="/en_CA/Kitchen-1/Kitchen_Cooking_Cooktops-3/102290019/">Cooktops</a></li>
						<li><a href="/en_CA/Kitchen-1/Kitchen_Cooking_Hoods-3/102290022/">Hoods</a></li>
						<li><a href="/en_CA/Kitchen-1/Kitchen_Cooking_Microwaves-3/102290026/">Microwaves</a></li>

					</ul>
					<ul class="dishwashers">
						<li class="header"><a href="/en_CA/Kitchen-1/Kitchen_Dishwashers_and_Kitchen_Cleaning-2/102290002/" title="Learn About Dishwashers and Cleaners">Dishwashers and Cleaning</a></li>
						
						<li><a href="/en_CA/Kitchen-1/Kitchen_Dishwashers_and_Kitchen_Cleaning_Dishwashers-3/102290003/">Dishwashers</a></li>
						<!-- <li><a href="/en_CA/Kitchen-1/Kitchen_Dishwashers_and_Kitchen_Cleaning_Compactors-3/102290009/">Compactors</a></li> -->
						<li><a href="/en_CA/Kitchen-1/Kitchen_Dishwashers_and_Kitchen_Cleaning_Disposers-3/102290010/">Disposers</a></li>
					</ul>
					
				</li>
			</ul>
		</li>
		<li class="accessories top"><a class="touchFix" href="#">Filters &amp; Accessories</a>
			<ul>
				<li>
					<ul>
						<li class="header"><a href="/en_CA/Accessories-1/Accessories_Laundry-2/102290118/" title="Learn About Laundry Accessories">Laundry<br>Accessories</a></li>
						

						<li><a href="/en_CA/Accessories-1/Accessories_Laundry_Washer-3/102290123/">Washer</a></li>
						<li><a href="/en_CA/Accessories-1/Accessories_Laundry_Dryer-3/102290119/">Dryer</a></li>
						<!-- <li><a href="/en_CA/Accessories-1/Accessories_Laundry_Organizers-3/102290119/">Organizers</a></li> -->
						<!-- <li><a href="/en_CA/Accessories-1/Accessories_Laundry_DIY_Manuals-3/102290119/">DIY Manuals</a></li> -->
					</ul>
					<ul>
						<li class="header"><a href="/en_CA/Accessories-1/Accessories_Kitchen-2/102290067/" title="Learn About Kitchen Accessories">Kitchen<br>Accessories</a></li>
						<li><a href="/en_CA/Accessories-1/Accessories_Kitchen_Refrigerator-3/102290104/">Refrigerator</a></li>
						<!-- <li><a href="/en_CA/Accessories-1/Accessories_Kitchen_Ice_Maker-3/102290074/">Ice Maker</a></li> -->
						<li><a href="/en_CA/Accessories-1/Accessories_Kitchen_Wall_Oven__Range-3/102290093/">Wall Oven &amp; Range</a></li>
						<li><a href="/en_CA/Accessories-1/Accessories_Kitchen_Dishwasher-3/102290068/">Dishwasher</a></li>
						<li><a href="/en_CA/Accessories-1/Accessories_Kitchen_Microwave-3/102290087/">Microwave</a></li>
						<!-- <li><a href="/en_CA/Accessories-1/Accessories_Kitchen_Washer-3/102290123/">Washer</a></li>
						<li><a href="/en_CA/Accessories-1/Accessories_Kitchen_Dryer-3/102290119/">Dryer</a></li> -->
						<!-- <li><a href="/en_CA/Accessories-1/Accessories_Kitchen_Freezer-3/102290074/">Freezer</a></li> -->
						<!-- <li><a href="/en_CA/Accessories-1/Accessories_Kitchen_Organizers-3/102290074/">Organizers</a></li>
						<li><a href="/en_CA/Accessories-1/Accessories_Kitchen_DIY_Manuals-3/102290074/">DIY Manuals</a></li> -->
					</ul>
					<ul>
						<li class="header filterJp"><a href="/en_CA/2_3_80/jump-page_water-filters.content.html">Refrigerator Water Filters</a></li>
<li class="header"><a href="/en_CA/2_3_3327/jump-page_affresh.content.html">Cleaning Products</a></li>
						<!-- <li><a href="/en_CA/filter-finder/french-door-1/102290148/">French-Door</a></li>
						<li><a href="/en_CA/filter-finder/side-by-side-1/102290159/">Side-by-Side</a></li>
						 <li><a href="/en_CA/filter-finder/undercounter-1/102290174/">Undercounter</a></li>
						<li><a href="/en_CA/filter-finder/top-freezer-1/102290130/">Top-Freezer</a></li> -->
					</ul>
					<!-- <ul class="filter_finder last_child">

						<div id="espot_offer">
						<div>
						<h1>10% off all<br>water filters<br><span class="offer_subtitle">Plus free shipping</span></h1>
						<p style="border: medium none; padding-bottom:0px;">Use promo code: <span class="promoCode">10off</span></p>
						<p>&nbsp;</p>
						</div>
						</div>
						<li style="background-image: none;">
							<a class="filter_finder main_nav_headline_textA non-ssl" href="/en_CA/filter-finder/102290129/">Filter Finder</a>
						</li>
					</ul> -->
				</li>
			</ul>
		</li>
		<li class="last ownercenter top"><a class="touchFix" href="#">Service &amp; Support</a>
			<ul>
				<li>
					<ul class="left-box">
						<li id="service&amp;supportTitle" class="header" style="height: 20px; overflow: visible;"><a href="/en_CA/owner_center" title="Learn About Owner Centre">Owner Centre</a></li>
						<li><a href="/en_CA/my_appliances">My Appliances</a></li>
						<li><a href="/webapp/wcs/stores/servlet/OCProductRegistrationView?catalogId=10579&amp;langId=-300&amp;storeId=10229">Product Registration</a></li>
						<li><a href="/en_CA/2_3_1/jump-page_extended-service-plans.content.html">Extended Service Plans</a></li>
						<li><a href="/en_CA/schedule_repair">Service &amp; Repair</a></li>
						<li><a href="/en_CA/manuals">Manuals &amp; Literature</a></li>
						<li><a target="_blank" href="https://repair.maytag.com/prjjck10/default.jsp?siteCd=RCU_EN_CA&amp;id=R173BV">Recall Information</a></li>
						<li><a href="/en_CA/2_3_24/jump-page_replacement-parts.content.html">Replacement Parts</a></li>
						<li><a href="/en_CA/2_3_147/jump-page_ten-year-warranty.content.html">10-year Warranty</a></li>
					</ul>
					<ul class="right-box">
						<li class="first_right_box">
							<img src="/img/global_nav_support_accessories.png" alt="decorative image">
							<a class="oc_registration main_nav_headline_textA" href="">Filters &amp; Accessories</a>
						</li>
						<li class="right_box_last">
							<img src="/img/global_nav_support_register.png" alt="decorative image">
							<a class="oc_registration main_nav_headline_textB" href="/webapp/wcs/stores/servlet/OCProductRegistrationView?catalogId=10579&amp;langId=-300&amp;storeId=10229">Product Registration</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div><!--  contentName: header_p2, displayType: standard, store: MTG_CA_B2C, locale: en_CA, status: { [path=systemdefined/header_p2.xml, displayed=true, error=] }-->

		  	  	
			  	  	
<script type="text/javascript">
function showDiscontinuedProductSearchPopup() {
	dijit.byId("discontinued_product_search_popup").show();
}
dojo.addOnLoad(function() {
	parseWidget("discontinued_product_search_popup"); 
});
</script>


		
		
		<script type="text/javascript">
			dojo.addOnLoad(function() {
				parseWidget("zip_code_popup");
				// add a dummy callback method that other functions can connect to upon successful zip code selection
				dojo.mixin(dijit.byId("zip_code_popup"), { onZipCodeSelected: function(zipCode) {} });
		        parseWidget("sap_unavailable_popup");
				// these messages are needed for the zip code popup on all pages where it might appear
				
				MessageHelper.setMessage("ERROR_InvalidJurisdisctionCode", "The combination of city, province and postal code is not valid.");
				MessageHelper.setMessage("ERROR_WebserviceUnavailable_TryLater", "Due to system unavailability postal code cannot be validated now. Try again later.");
			});
		</script>
		

		
	</div>

	<input type="hidden" name="storeIdentifier" value="MTG_CA_B2C" id="storeIdentifier">

</div>
		    <noscript>
		        &lt;iframe src="http://2625291.fls.doubleclick.net/activityi;src=2625291;type=mayta650;cat=all-r944;ord=1;num=1?" width="1" height="1" frameborder="0" style="display:none"&gt;&lt;/iframe&gt;
		    </noscript>
		    <!--  contentName: header_p1, displayType: standard, store: MTG_CA_B2C, locale: en_CA, status: { [path=systemdefined/header_p1.xml, displayed=true, error=] }-->

		</div>
	</div>

</header>