<!--mobile start-->
	<header class="header-mobile" data-ga-category="@appliance Appliance Segment" data-ga-action="Selected Top Links">
		<a href="http://kitchenaid.ca/fr_CA"><div class="brand">
			<img src="./img/img_logo.png" data-ga-label="Home"/>
		</div></a>
		<a href="http://kitchenaid.ca/fr_CA"><div class="home header-button">
			<img src="./img/menu.png" data-ga-label="Home"/>
			<div data-ga-label="Home">Home</div>
		</div></a>
		<a href="http://kitchenaid.ca/fr_CA/find-a-store"><div class="stores header-button">
			<img src="./img/stores.png" data-ga-label="Stores"/>
			<div data-ga-label="Stores">Magasins</div>
		</div></a>
	</header>
	<!--mobile end-->
	<!--desktop start-->
<header class="header-desktop">
<div id="upper-wrap"></div>
<div id="header-wrap">
	<div class="header-content-wrap">
		<div class="upper">
			<ul class="pull-left">
				<li><a href="http://kitchenaid.ca/fr_CA/find-a-store">TROUVER UN MARCHAND</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/contact-us">CONTACTEZ-NOUS</a></li>
				<li><a href="http://kitchenaid.ca/fr_CA/promotions">OFFRES-SPECIALES</a></li>
			</ul>
			<div class="pull-right">
				<script>
					$('.search-textbox').keypress(function(e) {
						if (e.which == 13 || e.keyCode == 13) {
							e.preventDefault();
							doSearch();
						}
					});

					$('.search-textbox-icon').click(function(e){
						doSearch();
					});

					function doSearch() {
						var val = $('.search-textbox').val();
						if (!val) return;
						window.location = 'http://www.kitchenaid.ca/webapp/wcs/stores/servlet/WHRORNAjaxCatalogSearchView?storeId=10231&catalogId=10581&langId=-300&beginIndex=0&searchTerm=' + val;
					}
				</script>
				<input type="text" name="searchTerm" placeholder="Recherche" class="search-textbox">
				<img class="search-textbox-icon" src="img/search-icon.jpg"/>
				<p class="language pull-left"><a href="http://findmy.mykitchenaid.ca">English</a></p>
			</div>
			<a class="logo pull-left"><img src="http://www.kitchenaid.ca/wcs/images/img_logo.png"/></a>
		</div>
		<div class="lower">
			<ul class="menu">
				<li>
					<a href="http://kitchenaid.ca/fr_CA/major-appliances">GROS ÉLECTROMÉNAGERS</a>
					<ul class="submenu double">
						<a href="http://kitchenaid.ca/fr_CA/2_2_3327/global_affresh.content.html"><li id="cookingproducts-secondary" class="secondary-section">Produits de nettoyage</li></a>
						<a href="http://kitchenaid.ca/fr_CA/magasiner/gros-electromenagers-1/tables-de-cuisson-3/102310008/"><li id="cookingproducts-secondary" class="secondary-section">Tables de cuisson</li></a>
						<a href="http://kitchenaid.ca/fr_CA/magasiner/gros-electromenagers-1/lave-vaisselle-3/102310014/"><li id="dishwashers-secondary" class="secondary-section">Lave-vaisselle</li></a>
						<a href="http://kitchenaid.ca/fr_CA/magasiner/gros-electromenagers-1/broyeurs-et-compacteurs-3/102310299/"><li id="cooking-appliances-secondary" class="secondary-section">Broyeurs et compacteurs</li></a>
						<a href="http://kitchenaid.ca/fr_CA/magasiner/gros-electromenagers-1/hottes-et-ventilation-3/102310029/"><li id="countertop-appliances-secondary" class="secondary-section">Hottes et ventilation</li></a>
						<a href="http://kitchenaid.ca/fr_CA/magasiner/gros-electromenagers-1/fours-a-micro-ondes-3/102310037/"><li id="countertop-appliances-secondary" class="secondary-section">Fours à micro-ondes</li></a>
						<a href="http://kitchenaid.ca/fr_CA/magasiner/gros-electromenagers-1/cuisinieres-3/102310042/"><li id="countertop-appliances-secondary" class="secondary-section">Cuisinières</li></a>
						<a href="http://kitchenaid.ca/fr_CA/magasiner/gros-electromenagers-1/refrigerateurs-3/102310048/"><li id="ventilation-secondary" class="secondary-section">Réfrigérateurs</li></a>
						
						<a href="http://kitchenaid.ca/fr_CA/shop/major-appliances-1/refrigerators-2/undercounter-refrigerators-3/102310356/"><li id="ventilation-secondary" class="secondary-section">Réfrigérateur sous comptoir</li></a>		
						
						<a href="http://kitchenaid.ca/fr_CA/magasiner/gros-electromenagers-1/fours-encastres-3/102310003/"><li id="outdoor-kitchen-secondary" class="secondary-section">Fours encastrés</li></a>
						<a href="http://kitchenaid.ca/fr_CA/magasiner/gros-electromenagers-1/tiroirs-rechauds-3/102310057/"><li id="warming-drawers-secondary" class="secondary-section">Tiroirs-réchauds</li></a>
						<a href="http://kitchenaid.ca/fr_CA/2_2_89/global_best-products.content.html"><li id="warming-drawers-secondary" class="secondary-section">Produits recommandés</li></a>
						<a href=""><li class="insert"><img src="http://www.kitchenaid.ca/images/consumer-reports/menu-image-fr.jpg"/></li></a>
					</ul>
				</li>
				<li>
					<a href="http://kitchenaid.ca/fr_CA/countertop-appliances">APPAREILS DE COMPTOIR</a>
					<ul class="submenu">
						<a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/pro-line/"><li id="pro-line-series-secondary" class="secondary-section">Série Pro Line</li></a>
				        <a href="http://kitchenaid.ca/fr_CA/2_1_2_30_209/brand_small-appliances_Beverage-Maker_overview.content.html"><li id="beverage-makers-secondary" class="secondary-section">Appareils à boissons</li></a>
						<a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/melangeurs/"><li id="blenders-secondary" class="secondary-section">Mélangeurs</li></a>
						<a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/cafetieres/"><li id="coffeeproducts-secondary" class="secondary-section">Cafetières</li></a>
						<a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/equipement-commercial/"><li id="commericalproducts-secondary" class="secondary-section">Équipement commercial</li></a>
						<a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/fours-de-comptoir/"><li id="countertopovens-secondary" class="secondary-section">Fours de comptoir</li></a>

						<a href="http://kitchenaid.ca/fr_CA/countertop-appliances/kettles/"><li id="electric-kettles-secondary" class="secondary-section">Bouilloires électriques</li></a>
						<a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/robots-culinaires/"><li id="foodprocessors-secondary" class="secondary-section">Robots culinaires</li></a>
						<a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/melangeurs-a-main/"><li id="handblenders-secondary" class="secondary-section">Mélangeurs à main </li></a>
						<a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/batteurs-a-main/"><li id="handmixers-secondary" class="secondary-section">Batteurs à main</li></a>
						<a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/mijoteuses/"><li id="slowcookers-secondary" class="secondary-section">Mijoteuses</li></a>
						<a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/accessoires-pour-batteur-sur-socle/"><li id="standmixerattachments-secondary" class="secondary-section">Accessoires pour batteur sur socle</li></a>
						<a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/batteurs-sur-socle/"><li id="standmixers-secondary" class="secondary-section">Batteurs sur socle</li></a>
						<a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/grille-pain/"><li id="toasters-secondary" class="secondary-section">Grille-pain</li></a>
						<a href="http://kitchenaid.ca/fr_CA/appareils-de-comptoir/gaufriers/"><li id="wafflemakers-secondary" class="secondary-section">Gaufriers</li></a>
						<a href="http://kitchenaid.ca/fr_CA/2_1_2_32_886/brand_small-appliances_sparkling-beverage-makers_overview.content.html"><li id="sparkling-secondary" class="secondary-section">Machine à boissons pétillantes</li></a>
						<a href="http://kitchenaid.ca/fr_CA/2_1_2_31_173/brand_small-appliances_juicers_overview.content.html"><li id="juicer-secondary" class="secondary-section">Extracteur de jus</li></a>
					</ul>
				</li>
				<li>
					<a href="http://kitchenaid.ca/fr_CA/kitchenware">ACCESSOIRES DE CUISSON</a>
					<ul class="submenu">
						<a href="http://kitchenaid.ca/fr_CA/kitchenware/bakeware"><li class="secondary-section">Moules et plats</li></a>
						<a href="http://kitchenaid.ca/fr_CA/kitchenware/cookware"><li class="secondary-section">Batteries de cuisine</li></a>
				        <a href="http://kitchenaid.ca/fr_CA/2_1_2_20_091715/brand_small-appliances_cutlery_overview.content.html?skipCache=true"><li class="secondary-section">Coutellerie</li></a>
						<a href="http://kitchenaid.ca/fr_CA/kitchenware/tea-kettles"><li class="secondary-section">Bouilloires</li></a>
					</ul>
				</li>
				<li>
					<a href="http://kitchenaid.ca/fr_CA/major-appliances">ACCESSOIRES</a>
					<ul class="submenu">
						<a href="http://kitchenaid.ca/fr_CA/2_2_3327/global_affresh.content.html"><li class="secondary-section">Produits de nettoyage</li></a>
						<a href="http://kitchenaid.ca/fr_CA/magasiner/accessoires-1/tables-de-cuisson-3/102310085/"><li class="secondary-section">Tables de cuisson</li></a>
						<a href="http://kitchenaid.ca/fr_CA/magasiner/accessoires-1/lave-vaisselle-3/102310066/"><li class="secondary-section">Lave-vaisselle</li></a>
						<a href="http://kitchenaid.ca/fr_CA/magasiner/accessoires-1/hottes-et-ventilation-3/102310162/"><li class="secondary-section">Hottes et ventilation</li></a>
						<a href="http://kitchenaid.ca/fr_CA/magasiner/accessoires-1/fours-a-micro-ondes-3/102310095/"><li class="secondary-section">Fours à micro-ondes</li></a>
						<a href="http://kitchenaid.ca/fr_CA/magasiner/accessoires-1/cuisinieres-3/102310308/"><li class="secondary-section">Cuisinières</li></a>
						<a href="http://kitchenaid.ca/fr_CA/magasiner/accessoires-1/refrigerateurs-3/102310075/"><li class="secondary-section">Réfrigérateurs</li></a>
						<a href="http://kitchenaid.ca/fr_CA/magasiner/accessoires-1/fours-encastres-3/102310301/"><li class="secondary-section">Fours encastrés</li></a>
						<a href="http://kitchenaid.ca/fr_CA/magasiner/accessoires-1/melangeurs-3/102310103/"><li class="secondary-section">Mélangeurs</li></a>
						<a href="http://kitchenaid.ca/fr_CA/magasiner/accessoires-1/cafetieres-3/102310104/"><li class="secondary-section">Cafetières</li></a>
						<a href="http://kitchenaid.ca/fr_CA/magasiner/accessoires-1/fours-de-comptoir-3/102310105/"><li class="secondary-section">Fours de comptoir</li></a>
						<a href="http://kitchenaid.ca/fr_CA/magasiner/accessoires-1/robots-culinaires-3/102310106/"><li class="secondary-section">Robots culinaires</li></a>
						<a href="http://kitchenaid.ca/fr_CA/shop/accessories-1/stand-mixers-3/102310102/"><li class="secondary-section">Batteurs sur socle</li></a>
								<a href="http://kitchenaid.ca/fr_CA/magasiner/accessoires-1/melangeurs-a-main-3/102310107/"><li class="secondary-section">Mélangeurs à main</li></a>		
						<a href="http://kitchenaid.ca/fr_CA/2_2_727/global_water-filters.content.html"><li class="secondary-section">Filtres à eau pour réfrigérateurs</li></a>
					</ul>
				</li>
				<li>
					<a href="http://kitchenaid.ca/fr_CA/customer-service">SERVICE ET SOUTIEN TECHNIQUE</a>
					<ul class="submenu">
						<a href="http://kitchenaid.ca/fr_CA/service-et-soutien-technique/manuels/"><li class="secondary-section">Manuels et documentation</li></a>
						<a href="http://kitchenaid.ca/fr_CA/service-et-soutien-technique/mes-electromenagers/"><li class="secondary-section">Mes électroménagers</li></a>
						<a href="http://kitchenaid.ca/fr_CA/service-et-soutien-technique/enregistrement-dun-produit/"><li class="secondary-section">Enregistrement d’un produit</li></a>
						<a href="http://kitchenaid.ca/fr_CA/2_2_91/global_certified-care.content.html"><li class="secondary-section">Programmes de service prolongé</li></a>
						<a href="http://kitchenaid.ca/fr_CA/service-et-soutien-technique/pieces-de-rechange/" target="_blank"><li class="secondary-section">Pièces de rechange</li></a>
						<a href="http://kitchenaid.ca/fr_CA/service-et-soutien-technique/service-et-reparation/"><li class="secondary-section">Service et réparation</li></a>
						<a href="http://kitchenaid.ca/fr_CA/contactez-nous/"><li class="secondary-section">Contactez-nous</li></a>
					</ul>
				</li>
				<li>
					<a href="http://kitchenaid.ca/fr_CA/culinary-inspiration">INSPIRATIONS CULINAIRES</a>
					<ul class="submenu">
						<a href="http://kitchenaid.ca/fr_CA/inspirations-culinaires/cuisines-modeles/"><li class="secondary-section">Cuisines modèles</li></a>
						<a href="http://kitchenaid.ca/fr_CA/inspirations-culinaires/partenaires-et-evenements/"><li class="secondary-section">Partenaires et événements</li></a>
						<a href="http://kitchenaid.ca/fr_CA/2_2_762/global_stand-mixer-buying-guide.content.html"><li class="secondary-section">Personnalisez votre batteur sur socle</li></a>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
</header>